<!DOCTYPE html>
<html>

	<head>
		<title>Online Food Ordering</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Poppins:ital,wght@1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

<body>
	<div class="header" id="topheader">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Online Food Ordering</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  	<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  	<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
				  		<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
				  		<a class="nav-link" href="#about">About Us</a>
					</li>
					<li class="nav-item dropdown">
				  		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose</a>
				  			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/">Home</a>
								<a class="dropdown-item" href="/login">Login</a>
								<a class="dropdown-item" href="/register">Register</a>
				  			</div>
					</li>
			  	</ul>
					<!-- <input class="form-control mr-sm-2" type="search" placeholder="Login" aria-label="Login"> -->
					<!-- <a href="/register">Reister</a>
					<a href="/register">Login</a> -->
			</div>
		</nav>

		<section class="header-section">
			<div class="center-div">
				<h1 class="font-weight-bold">WE CATER YOUR NEEDS</h1>
				<p>Best Catering App Out There</p>
				<div class="header-buttons">
					<a href="#about">AboutUs</a>
					<a href="#contact">Contact</a>
					<a href="/register">Register</a>
					<a href="/login">Login</a>
				</div>
			</div>
		</section>

	</div>

	<br><br><br><br>

	<section class="header-extradiv">
		<div class="container">
			<br>
			<div class="row">
				<div class="extra-div col-lg-4 col-md-4 col-12">
					<a href="#"><i class="fa-3x fa fa-desktop"></i></a>
					<h2>Easy to Use</h2>
				</div>
				<div class="extra-div col-lg-4 col-md-4 col-12">
					<a href="#"><i class="fa-3x fa fa-trophy"></i></a>
					<h2>Good Interface</h2>
				</div>
				<div class="extar-div col-lg-4 col-md-4 col-12">
					<a href="#"><i class="fa-3x fa fa-magic"></i></a>
					<h2>Easy to Order</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="serviceoffers" id="servicediv" >
		<div class="container headings text-center" id="about">
			<h1 class="text-center font-weight-bold">
				WHAT DO WE OFFER?
			</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-10 offset-1 offset-lg-0">
					<div class="names my-3">
						<h1>North Indian</h1>
						<div class="progress w-75">
						<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
						</div>
					</div>
					<div class="names my-3">
						<h1>South Indian</h1>
						<div class="progress w-75">
						<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
						</div>
					</div>
					<div class="names my-3">
						<h1>Chinese</h1>
						<div class="progress w-75">
						<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
						</div>
					</div>
					<div class="names my-3">
						<h1>Desserts</h1>
						<div class="progress w-75">
						<div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-12 col-12 servicediv">
					<div class="row">
						<div class="col-lg-2 col-2 service-icons">
							<i class="fa-3x fa fa-desktop"></i>
						</div>
						<div class="col-lg-10 col-10">
							<h2>Hygenic Food</h2>
							<p>The food that we offer meet clenliness standards.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-2 service-icons">
							<i class="fa-3x fa fa-desktop"></i>
						</div>
						<div class="col-lg-10 col-10">
							<h2>On time Delivery</h2>
							<p>The delivery personnel are highly skilled and make sure that your food is delivered in time.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-2 service-icons">
							<i class="fa-3x fa fa-desktop"></i>
						</div>
						<div class="col-lg-10 col-10">
							<h2>Affordable Prices</h2>
							<p>Prices are highly affordable and can be used by everyone.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-2 service-icons">
							<i class="fa-3x fa fa-phone"></i>
						</div>
						<div class="col-lg-10 col-10">
							<h2>Support  24/7</h2>
							<p>Office staff are always available for any sort of queries.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="happyclients">
		<div class="container headings text-center">
			<h1 class="text-center font-weight-bold">OUR HAPPY CUSTOMERS</h1>
			<p class="text-capitalize pt-1">What do our satisfied customers say?</p>
		</div>
		<div id="demo" class="carousel slide" data-ride="carousel">

	<!-- Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
		</ul>

	<!-- The slideshow -->

		<div class="carousel-inner container">
			<div class="carousel-item active">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box">
						<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
						<p class="m-4">Had a good experience ordering from them!</p>
						<h1>John Davis</h1>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box">
						<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
						<p class="m-4">Very tasty food!</p>
						<h1>Ramu</h1>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-12">
					<div class="box">
						<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
						<p class="m-4">Dessert was extraordinary!</p>
						<h1>Shyamu</h1>
					</div>
				</div>
			</div>
			</div>

			<div class="carousel-item">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<div class="box">
							<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
							<p class="m-4">Had a good experience ordering from them!</p>
							<h1>John Davis</h1>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<div class="box">
							<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
							<p class="m-4">Very tasty food!</p>
							<h1>Ramu</h1>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<div class="box">
							<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
							<p class="m-4">Dessert was extraordinary!</p>
							<h1>Shyamu</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<div class="box">
							<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
							<p class="m-4">Had a good experience ordering from them!</p>
							<h1>John Davis</h1>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<div class="box">
							<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
							<p class="m-4">Very tasty food!</p>
							<h1>Ramu</h1>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<div class="box">
							<a href="#"><img src="../static/images/abc.jpg" class="img-fluid img-thumbnail"></a>
							<p class="m-4">Dessert was extraordinary!</p>
							<h1>Shyamu</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="contactus" id="contact">
		<div class="container headings text-center">
			<h1 class="text-center font-weight-bold">CONTACT US</h1>
			<p class="text-capitalize pt-1">We are here to help you and answera any question you might have>We look forward to hearing from you</p>
		</div>
		<div class="container">
			<div class="col-lg-8 col-md-8 col-10 offset-lg-2 col-1">
				<form action="/action_page.php">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Enter name" id="username" required autocomplete="off">
	</div>
	<div class="form-group">
		<input type="email" class="form-control" placeholder="Enter email" id="email"required autocomplete="off">
	</div>
	<div class="form-group">
		<input type="number" class="form-control" id="mobile" placeholder="Enter no" required autocomplete="off">
	</div>

		<div class="form-group">
	<label for="comment">Comment:</label>
	<textarea class="form-control" rows="5" id="comment"></textarea>
	</div>
	<div class="d-flex justify-content-center">
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
			</div>

		</div>

	</section>

	<footer class="sootersection" id="footer-div">
		<div class="container" style="background-color: white; padding-top: 10px;">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12 footer-div">
					<div>
						<h3>ABout US</h3>
						<p>Online food ordering app!</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12 footerdiv">
					<div>
						<h3>NAVIGATION LINKS</h3>
						<li><a href="#">Home</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Price</a></li>
						<li><a href="#">About</a></li>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12 footerdiv">
					<div>
						<h3>Newsletter</h3>
						<p>For further transactions subscribe to our news letter.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>
