<!DOCTYPE html>
<html>

	<head>
		<title>Register</title>
		<link rel="stylesheet" a href="../static/css/register.css">

	</head>

	<body>
		<div class="container">
			<h1>Register</h1>
			<form action="/register" method='POST'>
				<p>Email ID</p>
				<input type="text" name="email" placeholder="Enter your email ID"/><br>
				<p>Name</p>
				<input type="text" name="name" placeholder="Enter your name"/><br>
				<p>Contact Number</p>
				<input type="text" name="number" placeholder="Enter your Contact Number"/><br>
				<p>Address</p>
				<input type="text" name="address" placeholder="Enter your address"/><br>
				<p>Password</p>
				<input type="password" name="password" placeholder="password"/><br>
				<input type="submit" type="submit" value="REGISTER"/>
			</form>
		</div>
	</body>

</html>
